## Exercise 1: Selecting with .loc[]

Use ```.loc[]``` to select row indexes 100 through 110 and the three columns "year", "winner_points", "loser_points" from the ```bowlData``` dataframe.

In [33]:
# add your code here
bowlData.loc[100:110,['year','winner_points','loser_points']]

     year  winner_points  loser_points
100  2011             31            14
101  2010             27            24
102  2009             14            13
103  2008             42            21
104  2007             49            33
105  2006             44            41
106  2005             45            40
107  2004             38            21
108  2003             52            49
109  2002             38            13
110  2001             26             3

Now select the rows where attendance is greater than 100,000.

In [34]:
# add your code here
bowlData[bowlData['attendance']>100000]

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
937,938,1997,1/1/1998,Thu,Michigan,1.0,21,Washington State,8.0,16,101219.0,QB Brian Griese (Michigan),NaN,Rose Bowl
938,939,1996,1/1/1997,Wed,Ohio State,4.0,20,Arizona State,2.0,17,100635.0,QB Joe Germaine (Ohio State),NaN,Rose Bowl
939,940,1995,1/1/1996,Mon,Southern California,17.0,41,Northwestern,3.0,32,100102.0,WR Keyshawn Johnson (Southern California),NaN,Rose Bowl
940,941,1994,1/2/1995,Mon,Penn State,2.0,38,Oregon,12.0,20,102247.0,"QB Danny O'Neil (Oregon), RB Ki-Jana Carter (P...",NaN,Rose Bowl
941,942,1993,1/1/1994,Sat,Wisconsin,9.0,21,UCLA,14.0,16,101237.0,RB Brent Moss (Wisconsin),NaN,Rose Bowl
943,944,1991,1/1/1992,Wed,Washington,2.0,34,Michigan,4.0,14,103566.0,"DL Steve Emtman (Washington), QB Billy Joe Hob...",NaN,Rose Bowl
944,945,1990,1/1/1991,Tue,Washington,8.0,46,Iowa,17.0,34,101273.0,DB Charles Mincy (Washington),NaN,Rose Bowl
945,946,1989,1/1/1990,Mon,Southern California,12.0,17,Michigan,3.0,10,103450.0,RB Ricky Ervins (Southern California),NaN,Rose Bowl
946,947,1988,1/2/1989,Mon,Michigan,11.0,22,Southern California,5.0,14,101688.0,RB Leroy Hoard (Michigan),NaN,Rose Bowl
947,948,1987,1/1/1988,Fri,Michigan State,8.0,20,Southern California,16.0,17,103847.0,LB Percy Snow (Michigan State),NaN,Rose Bowl
948,949,1986,1/1/1987,Thu,Arizona State,7.0,22,Michigan,4.0,15,103168.0,QB Jeff Van Raaphorst (Arizona State),NaN,Rose Bowl
949,950,1985,1/1/1986,Wed,UCLA,13.0,45,Iowa,4.0,28,103292.0,RB Eric Ball (UCLA),NaN,Rose Bowl
950,951,1984,1/1/1985,Tue,Southern California,18.0,20,Ohio State,6.0,17,102594.0,"QB Tim Green (Southern California), LB Jack De...",NaN,Rose Bowl
951,952,1983,1/2/1984,Mon,UCLA,NaN,45,Illinois,4.0,9,103217.0,QB Rick Neuheisel (UCLA),NaN,Rose Bowl
952,953,1982,1/1/1983,Sat,UCLA,5.0,24,Michigan,19.0,14,104991.0,"DB Don Rogers (UCLA), QB Tom Ramsey (UCLA)",NaN,Rose Bowl
953,954,1981,1/1/1982,Fri,Washington,12.0,28,Iowa,13.0,0,105611.0,RB Jacque Robinson (Washington),NaN,Rose Bowl
954,955,1980,1/1/1981,Thu,Michigan,5.0,23,Washington,16.0,6,104863.0,RB Butch Woolfolk (Michigan),NaN,Rose Bowl
955,956,1979,1/1/1980,Tue,Southern California,3.0,17,Ohio State,1.0,16,105526.0,RB Charles White (Southern California),NaN,Rose Bowl
956,957,1978,1/1/1979,Mon,Southern California,3.0,17,Michigan,5.0,10,105629.0,"RB Charles White (Southern California), QB Ric...",NaN,Rose Bowl
957,958,1977,1/2/1978,Mon,Washington,13.0,27,Michigan,4.0,20,105312.0,QB Warren Moon (Washington),NaN,Rose Bowl
958,959,1976,1/1/1977,Sat,Southern California,3.0,14,Michigan,2.0,6,106182.0,QB Vince Evans (Southern California),NaN,Rose Bowl
959,960,1975,1/1/1976,Thu,UCLA,11.0,23,Ohio State,1.0,10,105464.0,QB John Sciarra (UCLA),NaN,Rose Bowl
960,961,1974,1/1/1975,Wed,Southern California,5.0,18,Ohio State,3.0,17,106721.0,"QB Pat Haden (Southern California), WR John Mc...",NaN,Rose Bowl
961,962,1973,1/1/1974,Tue,Ohio State,4.0,42,Southern California,7.0,21,105267.0,QB Cornelius Greene (Ohio State),NaN,Rose Bowl
962,963,1972,1/1/1973,Mon,Southern California,1.0,42,Ohio State,3.0,17,106869.0,RB Sam Cunningham (Southern California),NaN,Rose Bowl
963,964,1971,1/1/1972,Sat,Stanford,16.0,13,Michigan,4.0,12,103154.0,QB Don Bunce (Stanford),NaN,Rose Bowl
964,965,1970,1/1/1971,Fri,Stanford,12.0,27,Ohio State,2.0,17,103839.0,QB Jim Plunkett (Stanford),NaN,Rose Bowl
965,966,1969,1/1/1970,Thu,Southern California,5.0,10,Michigan,7.0,3,103878.0,WR Bob Chandler (Southern California),NaN,Rose Bowl
966,967,1968,1/1/1969,Wed,Ohio State,1.0,27,Southern California,2.0,16,102063.0,QB Rex Kern (Ohio State),NaN,Rose Bowl
967,968,1967,1/1/1968,Mon,Southern California,1.0,14,Indiana,NaN,3,102946.0,RB O.J. Simpson (Southern California),NaN,Rose Bowl
968,969,1966,1/2/1967,Mon,Purdue,7.0,14,Southern California,NaN,13,100807.0,DB John Charles (Purdue),NaN,Rose Bowl
969,970,1965,1/1/1966,Sat,UCLA,5.0,14,Michigan State,1.0,12,100087.0,DB Bob Stiles (UCLA),NaN,Rose Bowl
970,971,1964,1/1/1965,Fri,Michigan,4.0,34,Oregon State,8.0,7,100423.0,RB Mel Anthony (Michigan),NaN,Rose Bowl
975,976,1959,1/1/1960,Fri,Washington,8.0,44,Wisconsin,6.0,8,100809.0,"QB Bob Schloredt (Washington), RB George Flemi...",NaN,Rose Bowl
979,980,1955,1/2/1956,Mon,Michigan State,2.0,17,UCLA,4.0,14,100809.0,RB Walter Kowalczyk (Michigan State),NaN,Rose Bowl
981,982,1953,1/1/1954,Fri,Michigan State,3.0,28,UCLA,5.0,20,101000.0,RB Billy Wells (Michigan State),NaN,Rose Bowl
982,983,1952,1/1/1953,Thu,Southern California,2.0,7,Wisconsin,12.0,0,101500.0,QB Rudy Bukich (Southern California),NaN,Rose Bowl
985,986,1949,1/2/1950,Mon,Ohio State,5.0,17,California,2.0,14,100963.0,RB Curly Morrison (Ohio State),NaN,Rose Bowl

How many games in the dataframe had attendance greater than 100,000? Don't count the rows in your answer above, determine your answer programmatically.

In [35]:
# add your code here
bowlData[bowlData['attendance']>100000].shape

(38, 14)

## Exercise 2: Selecting with .query()

Use ```.query()``` to find rows where the "winner_tie" column contains "State", the "bowl_name" contains "Rose", and "attendance" is greater than 75,000.

In [40]:
# add your code here

bowlData.query("winner_tie.str.contains('State') and bowl_name.str.contains('Rose') and (attendance > 100000)")

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
938,939,1996,1/1/1997,Wed,Ohio State,4.0,20,Arizona State,2.0,17,100635.0,QB Joe Germaine (Ohio State),NaN,Rose Bowl
940,941,1994,1/2/1995,Mon,Penn State,2.0,38,Oregon,12.0,20,102247.0,"QB Danny O'Neil (Oregon), RB Ki-Jana Carter (P...",NaN,Rose Bowl
947,948,1987,1/1/1988,Fri,Michigan State,8.0,20,Southern California,16.0,17,103847.0,LB Percy Snow (Michigan State),NaN,Rose Bowl
948,949,1986,1/1/1987,Thu,Arizona State,7.0,22,Michigan,4.0,15,103168.0,QB Jeff Van Raaphorst (Arizona State),NaN,Rose Bowl
961,962,1973,1/1/1974,Tue,Ohio State,4.0,42,Southern California,7.0,21,105267.0,QB Cornelius Greene (Ohio State),NaN,Rose Bowl
966,967,1968,1/1/1969,Wed,Ohio State,1.0,27,Southern California,2.0,16,102063.0,QB Rex Kern (Ohio State),NaN,Rose Bowl
979,980,1955,1/2/1956,Mon,Michigan State,2.0,17,UCLA,4.0,14,100809.0,RB Walter Kowalczyk (Michigan State),NaN,Rose Bowl
981,982,1953,1/1/1954,Fri,Michigan State,3.0,28,UCLA,5.0,20,101000.0,RB Billy Wells (Michigan State),NaN,Rose Bowl
985,986,1949,1/2/1950,Mon,Ohio State,5.0,17,California,2.0,14,100963.0,RB Curly Morrison (Ohio State),NaN,Rose Bowl

Show programmatically how many rows your query found.

In [43]:
bowlData.query("winner_tie.str.contains('State') and bowl_name.str.contains('Rose') and (attendance > 100000)").shape[0]

9

## Exercise 3: Query without using .query()

Without using ```.query()``` repeat the query from exercise 2 (find rows where the "winner_tie" column contains "State", the "bowl_name" contains "Rose", and the "attendance" is greater than 75,000).

In [48]:
# add your code here

bowlData[(bowlData.winner_tie.str.contains('State')) & (bowlData.bowl_name.str.contains('Rose')) & (bowlData.attendance > 100000)]

,id,year,date,day,winner_tie,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,mvp,sponsor,bowl_name
938,939,1996,1/1/1997,Wed,Ohio State,4.0,20,Arizona State,2.0,17,100635.0,QB Joe Germaine (Ohio State),NaN,Rose Bowl
940,941,1994,1/2/1995,Mon,Penn State,2.0,38,Oregon,12.0,20,102247.0,"QB Danny O'Neil (Oregon), RB Ki-Jana Carter (P...",NaN,Rose Bowl
947,948,1987,1/1/1988,Fri,Michigan State,8.0,20,Southern California,16.0,17,103847.0,LB Percy Snow (Michigan State),NaN,Rose Bowl
948,949,1986,1/1/1987,Thu,Arizona State,7.0,22,Michigan,4.0,15,103168.0,QB Jeff Van Raaphorst (Arizona State),NaN,Rose Bowl
961,962,1973,1/1/1974,Tue,Ohio State,4.0,42,Southern California,7.0,21,105267.0,QB Cornelius Greene (Ohio State),NaN,Rose Bowl
966,967,1968,1/1/1969,Wed,Ohio State,1.0,27,Southern California,2.0,16,102063.0,QB Rex Kern (Ohio State),NaN,Rose Bowl
979,980,1955,1/2/1956,Mon,Michigan State,2.0,17,UCLA,4.0,14,100809.0,RB Walter Kowalczyk (Michigan State),NaN,Rose Bowl
981,982,1953,1/1/1954,Fri,Michigan State,3.0,28,UCLA,5.0,20,101000.0,RB Billy Wells (Michigan State),NaN,Rose Bowl
985,986,1949,1/2/1950,Mon,Ohio State,5.0,17,California,2.0,14,100963.0,RB Curly Morrison (Ohio State),NaN,Rose Bowl

## Exercise 4: Find the standard deviation of a column

Create a print statement similar those above to print the standard deviation of the "winner_points" column.

In [72]:
# add your code here
print(f'The standard deviation of points scored by the winning and losing team respectively \
is {bowlData.winner_points.std()}, {bowlData.loser_points.std()}')

The standard deviation of points scored by the winning and losing team respectively is 12.111077201861555, 10.395141405729307

## Exercise 5: Using .groupby() 

Find the maximum observed flight speed for each species in the birds dataframe.

In [85]:
birds.groupby('species')['max_speed_mph'].max()

species
falcon    240.0
parrot     40.0
Name: max_speed_mph, dtype: float64

This next one is challenging and uses a function we haven't covered yet. See if you can work it out!

For each species, find the name of the fastest individual. 

Hint: you will need to use ```.loc()```, ```.groupby()```, and also a function called ```.idxmax()``` (in that order). See if you can figure it out with some help from the web. The doc page for [.idxmax()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html) and [this user question and answer(s) from stackoverflow.com](https://stackoverflow.com/questions/39964558/pandas-max-value-index) may get you part of the way to the answer.

In [94]:
birds.loc[birds.groupby('species')['max_speed_mph'].idxmax(),'individual']

1           f02
3    pretty boy
Name: individual, dtype: object

## Exercise 6: Copy an existing column to a new column

Modify the dataframe ```bowlData``` by copying the "year" column to a new column called "year_copy". Print ```bowlData``` to the screen to check your work.

In [101]:
# add your code here

bowlData['year_copy']=bowlData['year']
bowlData

,id,year,date,day,winner,winner_rank,winner_points,loser_tie,loser_rank,loser_points,attendance,most_valuable_player,sponsor,bowl_name,year_copy
0,1,2021,12/29/2021,Wed,Oklahoma,14.0,47,Oregon,15.0,32,59121.0,"Oklahoma RB Kennedy Brooks, Oklahoma S Pat Fields",Valero,Alamo Bowl,2021
1,2,2020,12/29/2020,Tue,Texas,20.0,55,Colorado,NaN,23,10822.0,"Texas RB Bijan Robinson, Texas LB DeMarvion Ov...",Valero,Alamo Bowl,2020
2,3,2019,12/31/2019,Tue,Texas,NaN,38,Utah,12.0,10,60147.0,"Texas QB Sam Ehlinger, Texas LB Joseph Ossai",Valero,Alamo Bowl,2019
3,4,2018,12/28/2018,Fri,Washington State,12.0,28,Iowa State,25.0,26,60675.0,"Washington State QB Gardner Minshew, Washingto...",Valero,Alamo Bowl,2018
4,5,2017,12/28/2017,Thu,Texas Christian,13.0,39,Stanford,15.0,37,57653.0,"TCU QB Kenny Hill, TCU LB Travin Howard",Valero,Alamo Bowl,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1522,1523,2004,12/30/2004,Thu,Northern Illinois,NaN,34,Troy,NaN,21,21456.0,"RB Dewhitt Betterson (Troy), DB Lionel Hickenb...",NaN,Silicon Valley Bowl,2004
1523,1524,2003,12/30/2003,Tue,Fresno State,NaN,17,UCLA,NaN,9,20126.0,"RB Rodney Davis (Fresno State), DL Garrett McI...",NaN,Silicon Valley Bowl,2003
1524,1525,2002,12/31/2002,Tue,Fresno State,NaN,30,Georgia Tech,NaN,21,10132.0,"RB Rodney Davis (Fresno State), DL Jason Stewa...",NaN,Silicon Valley Bowl,2002
1525,1526,2001,12/31/2001,Mon,Michigan State,NaN,44,Fresno State,20.0,35,30456.0,"WR Charles Rogers (Michigan State), DL Nick My...",NaN,Silicon Valley Bowl,2001
1526,1527,2000,12/31/2000,Sun,Air Force,NaN,37,Fresno State,NaN,34,26542.0,"QB Mike Thiessen (Air Force), LB Tim Skipper (...",NaN,Silicon Valley Bowl,2000

### Exercise 7: Resample Data Using Datetimes

Resample ```wx_df``` to obtain a dataframe where each row is the sum of one month of each severe weather observation (your result should retain the columns "Tornado", "Wind", and "Hail").

In [284]:
# add your code here

wx_df.resample('M').sum()

            Tornado  Wind  Hail
Date
2004-01-31        0     1     0
2004-02-29        3    17    15
2004-03-31        1    17     7
2004-04-30        2    17    35
2004-05-31        6    47    12
...             ...   ...   ...
2023-08-31        0    25     2
2023-09-30        0    40     6
2023-10-31        0     0     0
2023-11-30        0    12     1
2023-12-31        0     7    44

[240 rows x 3 columns]

# VIII. Exercise: Putting it All Together

Use Pandas to read, clean, manipulate, and aggregate weather observations.

## Read the data file
Read the file at ```data/weatherdata.csv``` into a Pandas dataframe and render the dataframe to the screen. Don't specify any parameters besides the filename when reading the file into a dataframe.

In [50]:
# add your code here

df = pd.read_csv('data/weatherdata.csv')
df

,date,city,temperature_f,precipitation_cm,windspeed_knots,weather
0,2024-01-01,New York,30.0,0.00,10,Clear
1,2024-01-02,New York,28.0,0.20,8,Rain
2,2024-01-03,New York,NaN,0.00,Clear,Clear
3,2024-01-01,LosAngeles,65.0,0.00,5,Clear
4,2024-01-02,Los Angeles,62.0,0.00,6,Clear
5,2024-01-03,Los Angeles,66.0,0.10,5,Clear
6,2024-01-01,Chicago,25.0,0.10,15,Snow
7,2024-01-02,Chicago,22.0,0.05,12,Snow
8,2024-01-03,Chicago,24.0,0.20,14,Snow

Show the data type of each column.

In [51]:
# add your code here

df.dtypes

date                 object
city                 object
temperature_f       float64
precipitation_cm    float64
windspeed_knots      object
weather              object
dtype: object

## Clean the data

Look at all the columns of data. Do you see any mistakes?

Replace 'LosAngeles' at index 3 with 'Los Angeles'.

In [52]:
# add your code here

df.loc[3,'city'] = 'Los Angeles'
df

,date,city,temperature_f,precipitation_cm,windspeed_knots,weather
0,2024-01-01,New York,30.0,0.00,10,Clear
1,2024-01-02,New York,28.0,0.20,8,Rain
2,2024-01-03,New York,NaN,0.00,Clear,Clear
3,2024-01-01,Los Angeles,65.0,0.00,5,Clear
4,2024-01-02,Los Angeles,62.0,0.00,6,Clear
5,2024-01-03,Los Angeles,66.0,0.10,5,Clear
6,2024-01-01,Chicago,25.0,0.10,15,Snow
7,2024-01-02,Chicago,22.0,0.05,12,Snow
8,2024-01-03,Chicago,24.0,0.20,14,Snow

What data type is the "windspeed_knots" column?

Type your answer: object

Why did Pandas assign that data type to "windspeed_knots"?

Type your answer: Because the data is "messy". Most values look like numbers, but one value is a word. In cases like this where there appears to be mixed data types in a column, Pandas will read the data as strings and assign it type object.

Judging by the data values in the windspeed_knots column, what data type should windspeed_knots probably be?

Type your answer: Windspeed should be numerical data, so probably either data type int or float.

Force the "windspeed_knots" column to be numeric, then show that the data type of the column did in fact change.

In [53]:
# add your code here
df['windspeed_knots']=pd.to_numeric(df['windspeed_knots'],errors='coerce')
df

,date,city,temperature_f,precipitation_cm,windspeed_knots,weather
0,2024-01-01,New York,30.0,0.00,10.0,Clear
1,2024-01-02,New York,28.0,0.20,8.0,Rain
2,2024-01-03,New York,NaN,0.00,NaN,Clear
3,2024-01-01,Los Angeles,65.0,0.00,5.0,Clear
4,2024-01-02,Los Angeles,62.0,0.00,6.0,Clear
5,2024-01-03,Los Angeles,66.0,0.10,5.0,Clear
6,2024-01-01,Chicago,25.0,0.10,15.0,Snow
7,2024-01-02,Chicago,22.0,0.05,12.0,Snow
8,2024-01-03,Chicago,24.0,0.20,14.0,Snow

In [54]:
df['windspeed_knots'].dtypes

dtype('float64')

## Create a new column of data

Create a column of boolean data called "IsRainy" that indicates whether there was precipitation.

In [55]:
# add your code here
df['IsRainy'] = (df['weather']=='Snow') | (df.weather=='Rain')
df

,date,city,temperature_f,precipitation_cm,windspeed_knots,weather,IsRainy
0,2024-01-01,New York,30.0,0.00,10.0,Clear,False
1,2024-01-02,New York,28.0,0.20,8.0,Rain,True
2,2024-01-03,New York,NaN,0.00,NaN,Clear,False
3,2024-01-01,Los Angeles,65.0,0.00,5.0,Clear,False
4,2024-01-02,Los Angeles,62.0,0.00,6.0,Clear,False
5,2024-01-03,Los Angeles,66.0,0.10,5.0,Clear,False
6,2024-01-01,Chicago,25.0,0.10,15.0,Snow,True
7,2024-01-02,Chicago,22.0,0.05,12.0,Snow,True
8,2024-01-03,Chicago,24.0,0.20,14.0,Snow,True

## Calculate average temperature by city

Calculate the average temperature for each city and save the result as new variable called ```avgT```.

In [56]:
# add your code here

avgT=df.groupby('city')['temperature_f'].mean()
avgT

city
Chicago        23.666667
Los Angeles    64.333333
New York       29.000000
Name: temperature_f, dtype: float64

Looking at the ```df``` dataframe and the ```avgT``` results, how many data values were used to calculate the average New York temperature?

Type your answer: 2, the third data value is NaN so it gets ignored when calculating the mean.

<div class="alert alert-info"> 

## Convert date strings to datetimes

Convert the string values in the "dates" column to a DatetimeIndex. You don't need to reset the dataframe's index to the dates column though, just convert the string data in the "dates" column to datetimes.
</div>

In [ ]:
# add your code here
df['date']=pd.to_datetime(df['date'])

## Sort the dataframe by date, ascending

In [59]:
# add your code here

df = df.sort_values(by=['date'], ascending=True)
df

,date,city,temperature_f,precipitation_cm,windspeed_knots,weather,IsRainy
0,2024-01-01,New York,30.0,0.00,10.0,Clear,False
3,2024-01-01,Los Angeles,65.0,0.00,5.0,Clear,False
6,2024-01-01,Chicago,25.0,0.10,15.0,Snow,True
1,2024-01-02,New York,28.0,0.20,8.0,Rain,True
4,2024-01-02,Los Angeles,62.0,0.00,6.0,Clear,False
7,2024-01-02,Chicago,22.0,0.05,12.0,Snow,True
2,2024-01-03,New York,NaN,0.00,NaN,Clear,False
5,2024-01-03,Los Angeles,66.0,0.10,5.0,Clear,False
8,2024-01-03,Chicago,24.0,0.20,14.0,Snow,True

## Write the dataframe to file

Write the ```df``` data to a file called ```weatherdata_yourname.csv```, replacing yourname with your first name. Do not include the index column, but do include the column names.

In [60]:
# add your code here
df.to_csv(r'data/weatherdata_kerrie.csv', index = None, header=True)

Does your csv file look like this inside?

<img src="images/weatherdata.png" alt="contents of cvs file" width="400"/>

If so, congratulations! You've successfully completed this exercise.